<div class="page-header">
  <h1>
    Recipe ingredients
    <%= link_to new_recipe_ingredient_url, :class => "btn btn-lg btn-success" do %>
      <i class="fa fa-plus"></i>
    <% end  %>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search Recipe ingredients (start typing)" class="form-control">
  </div>
</div>

<hr>

<div class="row isotope-container">
<% @recipe_ingredients.each do |recipe_ingredient| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Recipe Ingredient #<%= recipe_ingredient.id %></h3>
      </div>
      <div class="panel-body">
        <dl>
          <dt>Recipe</dt>
          <dd><%= recipe_ingredient.recipe_id %></dd>

          <dt>Ingredient</dt>
          <dd><%= recipe_ingredient.ingredient_id %></dd>

          <dt>Amount</dt>
          <dd><%= recipe_ingredient.amount %></dd>

        </dl>
        <div class="btn-group btn-group-justified">
          <%= link_to recipe_ingredient_url(recipe_ingredient), :class => "btn btn-primary" do %>
            <i class="fa fa-search-plus"></i>
          <% end %>
          <%= link_to edit_recipe_ingredient_url(recipe_ingredient), :class => "btn btn-warning" do %>
            <i class="fa fa-edit"></i>
          <% end %>
          <%= link_to recipe_ingredient_url(recipe_ingredient), :method => "delete", :data => { :confirm => "Do you really want to delete this recipe_ingredient?" }, :class => "btn btn-danger" do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container');

    $container.imagesLoaded(function() {
      $container.isotope({
        itemSelector: '.isotope-item',
        layoutMode: 'masonry',
        filter: function() {
          return qsRegex ? $(this).text().match( qsRegex ) : true;
        }
      })
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

<!-- End responsive, Isotope-based layout example -->
