<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Name #<%= @name.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Cuisine</dt>
              <dd><%= @name.cuisine %></dd>

              <dt>Servings</dt>
              <dd><%= @name.servings %></dd>

              <dt>Prep time</dt>
              <dd><%= @name.prep_time %></dd>

              <dt>Instructions</dt>
              <dd><%= @name.instructions %></dd>

              <dt>Meal category</dt>
              <dd><%= @name.meal_category %></dd>

              <dt>Creator</dt>
              <dd><%= @name.creator_id %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <%= link_to names_url, :class => "btn btn-primary" do %>
                <i class="fa fa-chevron-left"></i>
              <% end %>
              <%= link_to edit_name_url(@name.id), :class => "btn btn-warning" do %>
                <i class="fa fa-edit"></i>
              <% end %>
              <%= link_to name_url(@name.id), :method => "delete", :data => { :confirm => "Do you really want to delete this name?" }, :class => "btn btn-danger" do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
