<!-- Validation failure messages -->

<% if @recipe.errors.any? %>
  <% @recipe.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Recipe</h3>
      </div>
      <div class="panel-body">
        <%= form_tag recipes_url, :method => "post", :class => "form-horizontal" do %>
          <!-- Label and input for name -->
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
              Name
            </label>
            <div class="col-sm-10">
              <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @recipe.name %>">
            </div>
          </div>

          <!-- Label and input for cuisine -->
          <div class="form-group">
            <label for="cuisine" class="col-sm-2 control-label">
              Cuisine
            </label>
            <div class="col-sm-10">
              <input type="text" id="cuisine" name="cuisine" placeholder="Cuisine" class="form-control" value="<%= @recipe.cuisine %>">
            </div>
          </div>

          <!-- Label and input for servings -->
          <div class="form-group">
            <label for="servings" class="col-sm-2 control-label">
              Servings
            </label>
            <div class="col-sm-10">
              <input type="text" id="servings" name="servings" placeholder="Servings" class="form-control" value="<%= @recipe.servings %>">
            </div>
          </div>

          <!-- Label and input for prep_time -->
          <div class="form-group">
            <label for="prep_time" class="col-sm-2 control-label">
              Prep time
            </label>
            <div class="col-sm-10">
              <input type="text" id="prep_time" name="prep_time" placeholder="Prep time" class="form-control" value="<%= @recipe.prep_time %>">
            </div>
          </div>

          <!-- Label and input for instructions -->
          <div class="form-group">
            <label for="instructions" class="col-sm-2 control-label">
              Instructions
            </label>
            <div class="col-sm-10">
              <textarea id="instructions" name="instructions" placeholder="Instructions" class="form-control" rows="3"><%= @recipe.instructions %></textarea>
            </div>
          </div>

          <!-- Label and input for meal_category -->
          <div class="form-group">
            <label for="meal_category" class="col-sm-2 control-label">
              Meal category
            </label>
            <div class="col-sm-10">
              <input type="text" id="meal_category" name="meal_category" placeholder="Meal category" class="form-control" value="<%= @recipe.meal_category %>">
            </div>
          </div>

          <!-- Label and input for creator_id -->
          <div class="form-group">
            <label for="creator_id" class="col-sm-2 control-label">
              Creator
            </label>
            <div class="col-sm-10">
              <input type="text" id="creator_id" name="creator_id" placeholder="Creator" class="form-control" value="<%= @recipe.creator_id %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Create Recipe" class="btn btn-success">
              or
              <a href="/recipes">Cancel</a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
