<!-- Validation failure messages -->

<% if @ingredient.errors.any? %>
  <% @ingredient.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Ingredient</h3>
      </div>
      <div class="panel-body">
        <%= form_tag ingredients_url, :method => "post", :class => "form-horizontal" do %>
          <!-- Label and input for name -->
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
              Name
            </label>
            <div class="col-sm-10">
              <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @ingredient.name %>">
            </div>
          </div>

          <!-- Label and input for category -->
          <div class="form-group">
            <label for="category" class="col-sm-2 control-label">
              Category
            </label>
            <div class="col-sm-10">
              <input type="text" id="category" name="category" placeholder="Category" class="form-control" value="<%= @ingredient.category %>">
            </div>
          </div>

          <!-- Label and input for price_per_unit -->
          <div class="form-group">
            <label for="price_per_unit" class="col-sm-2 control-label">
              Price per unit
            </label>
            <div class="col-sm-10">
              <input type="text" id="price_per_unit" name="price_per_unit" placeholder="Price per unit" class="form-control" value="<%= @ingredient.price_per_unit %>">
            </div>
          </div>

          <!-- Label and input for unit -->
          <div class="form-group">
            <label for="unit" class="col-sm-2 control-label">
              Unit
            </label>
            <div class="col-sm-10">
              <input type="text" id="unit" name="unit" placeholder="Unit" class="form-control" value="<%= @ingredient.unit %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Create Ingredient" class="btn btn-success">
              or
              <a href="/ingredients">Cancel</a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
