<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Selected Recipe #<%= @selected_recipe.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>User</dt>
              <dd><%= @selected_recipe.user_id %></dd>

              <dt>Recipe</dt>
              <dd><%= @selected_recipe.recipe_id %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <%= link_to selected_recipes_url, :class => "btn btn-primary" do %>
                <i class="fa fa-chevron-left"></i>
              <% end %>
              <%= link_to edit_selected_recipe_url(@selected_recipe.id), :class => "btn btn-warning" do %>
                <i class="fa fa-edit"></i>
              <% end %>
              <%= link_to selected_recipe_url(@selected_recipe.id), :method => "delete", :data => { :confirm => "Do you really want to delete this selected_recipe?" }, :class => "btn btn-danger" do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
